@import 'inter-ui/inter.css';
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

#app {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 90vh
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@import 'tailwindcss';
@theme {
  --color-brand-100: #e1d9f3;
  --color-brand-200: #c3b3e8;
  --color-brand-300: #a58ddc;
  --color-brand-400: #8766d1;
  --color-brand-500: #6941c6;
  --color-brand-600: #3f2776;
  --color-brand-700: #3f2776;
  --color-brand-800: #2a1a4f;
  --color-brand-900: #1f133b;
  --color-feedback-100: #d1fadf;
  --color-feedback-200: #12b76a;
  --color-feedback-300: #0b7443;
  --color-feedback-400: #feefc6;
  --color-feedback-500: #f79009;
  --color-feedback-600: #ad6406;
  --color-feedback-700: #fee4e2;
  --color-feedback-800: #f04438;
  --color-feedback-900: #a6170d;
}
