@import 'inter-ui/inter.css';
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@import 'tailwindcss';
@theme {
    --color-brand-100: #E1D9F3;
    --color-brand-200: #C3B3E8;
    --color-brand-300: #A58DDC;
    --color-brand-400: #8766D1;
    --color-brand-500: #6941C6; 
    --color-brand-600: #3F2776;
    --color-brand-700: #3F2776;
    --color-brand-800: #2A1A4F;
    --color-brand-900: #1F133B;
    --color-feedback-100: #D1FADF;
    --color-feedback-200: #12B76A;
    --color-feedback-300: #0B7443;
    --color-feedback-400: #FEEFC6;
    --color-feedback-500: #F79009; 
    --color-feedback-600: #AD6406;
    --color-feedback-700: #FEE4E2;
    --color-feedback-800: #F04438;
    --color-feedback-900: #A6170D;
}